aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
asttokens
attrs
blinker
cachetools
certifi
charset-normalizer
click
cloudinary
colorama
comm
contourpy
cycler
datasets
debugpy
decorator
dill
dnspython
email-validator
executing
fastapi
filelock
flask
flask-cors
Flask-JWT-Extended
flask-ngrok
Flask-PyMongo
fonttools
frozenlist
fsspec
git-filter-repo
google-api-core
google-auth
google-cloud-vision
googleapis-common-protos
grpcio
grpcio-status
gunicorn
h11
huggingface-hub
idna
ipykernel
ipython
ipython_pygments_lexers
itsdangerous
jedi
jinja2
jiwer
joblib
jupyter_client
jupyter_core
kiwisolver
markupsafe
matplotlib
matplotlib-inline
mpmath
multidict
multiprocess
nest-asyncio
networkx
numpy
opencv-python
packaging
pandas
parso
pillow
platformdirs
prompt_toolkit
propcache
proto-plus
protobuf
psutil
pure_eval
py-cpuinfo
pyarrow
pyasn1
pyasn1-modules
pydantic
pydantic-core
Pygments
PyJWT
pymongo
pyparsing
python-dateutil
python-dotenv
pytz
PyYAML
pyzmq
rapidfuzz
regex
requests
rsa
safetensors
scikit-learn
scipy
sentence-transformers
six
sniffio
stack-data
starlette
sympy
threadpoolctl
tokenizers
torch
torchvision
torchaudio
tornado
tqdm
traitlets
transformers
typing_extensions
tzdata
ultralytics
urllib3
uvicorn
wcwidth
werkzeug
xxhash
yarl
